body{
    margin: 0;
    background-color: lightgray;
    min-height: 250vh;
}

h1 {
    font-family: "fontSedan";
    font-size: 60px;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    background-color: black;
    color: white;
    top: 0;
    width: 100%;
    height: 18vh;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    z-index: 10;
}

#headerNDlogo {
    width: 80px;
    height: auto;
    position: relative;
    left: 50%;
    top: 3px;
    transform: translateX(-50%);
}

.left-links, .right-links {
    display: flex;
    align-items: center;
    position: absolute;
    gap: 80px;
}

.left-links {
    left: 25%;
}

.right-links {
    right: 23%;
}

.linkMeny, .linkOmoss, .linkHandla, .linkKontakt {
    color: white;
    text-decoration: none;
    font-family: "fontSedan";
    z-index: 10;
    transition: transform 0.2s ease, color 0.2s ease;
    display: inline-block;
}

.linkOmoss:hover, .linkHandla:hover, .linkKontakt:hover {
    transform: scale(1.1);
}

.meny-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: white;
    font-family: "fontSedan";
    transition: transform 0.2s ease;
}

.meny-wrapper:hover span,
.meny-wrapper:hover i {
    transform: scale(1.1);
}

.meny-wrapper:hover i {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.dropdown:hover .linkMeny {
    transform: scale(1.1);
}

.dropdown i {
    transition: transform 0.2s ease;
}

.dropdown:hover i {
    transform: rotate(180deg) scale(1.1);
}

#startVideo{
    height: 100%;
    width: 100%;
    mask-image: linear-gradient(to bottom, lightgray 70%, transparent 100%);
}

#nyhetText {
    color: rgb(41, 41, 41);
    font-family: "fontSedan";
    text-align: center;
    margin-top: -30px;
    font-size: 20px;
}

#nyhetBeskrivningRubrik {
    color: rgb(41, 41, 41);
    font-family: "fontSedan";
    text-align: center;
    font-size: 17px;
    margin-bottom: -10px;
}

#nyhetBeskrivning {
    color: rgb(41, 41, 41);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#startText {
    color: white;
    font-family: "fontSedan";
    text-align: center;
    position: absolute;
    left: 50%;
    font-size: large;
    top: 51%;
    transform: translate(-50%, -40%);
}

.fade-in {
    opacity: 0;
    animation: fadeInEffect 1.5s ease-in-out forwards;
}

@keyframes fadeInEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@font-face {
    font-family: fontSedan;
    src: url("fontSedan.otf");
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(169, 169, 169);
    border-radius: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: whitesmoke;
    min-width: 100px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 100;
    top: 130%;
    left: 0;
    border-radius: 7px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;  
    transition: max-height 1s ease-out, opacity 0.3s ease-out;
}

.dropdown-content a {
    color: black;
    padding: 9px 10px;
    font-size: 13px;
    text-decoration: none;
    display: block;
    font-family: "fontSedan";
    transition: background-color 0.5s ease-in-out;
}

.dropdown-content a:hover {
    background-color: rgba(203,155,53,255);
}


.dropdown:hover .dropdown-content {
    display: block;
}