body{
    margin: 0;
    background-color: white;
    min-height: 250vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: black;
    color: white;
    top: 0;
    width: 100%;
    height: 18vh;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

#headerNDlogo {
    width: 80px;
    height: auto;
    position: relative;
    left: 50%;
    top: 3px;
    transform: translateX(-50%);
}

.left-links, .right-links {
    display: flex;
    align-items: center;
    position: absolute;
}

.left-links {
    left: 25%;
    gap: 80px;
}

.right-links {
    right: 23%;
    gap: 80px;
}

.linkMeny, .linkOmoss, .linkHandla, .linkKontakt {
    color: white;
    text-decoration: none;
    font-family: "fontSedan";
    z-index: 10;
}

#kontaktVideo{
    height: 100%;
    width: 100%;
}

#kontaktText {
    color: white;
    font-family: "fontSedan";
    text-align: center;
    position: absolute;
    left: 50%;
    font-size: large;
    top: 51%;
    transform: translate(-50%, -40%);
}

.fade-in {
    opacity: 0;
    animation: fadeInEffect 1.5s ease-in-out forwards;
}

@keyframes fadeInEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@font-face {
    font-family: fontSedan;
    src: url("fontSedan.otf");
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: whitesmoke;
    min-width: 100px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 100;
    top: 100%;
    left: 0;
    border-radius: 10px;

    max-height: 0;
    overflow: hidden;
    opacity: 0;  
    transition: max-height 1s ease-out, opacity 0.3s ease-out;
}

.dropdown-content a {
    color: black;
    padding: 9px 10px;
    font-size: 13px;
    text-decoration: none;
    display: block;
    font-family: "fontSedan";
    transition: background-color 0.5s ease-in-out;
}

.dropdown-content a:hover {
    background-color: rgba(203,155,53,255);
}


.dropdown:hover .dropdown-content {
    display: block;
}